@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <title>Colibri - Gestion des commandes</title>
    @Styles.Render("~/Content/MainCSS","~/Content/BodyCSS")
</head>
<body>
    <header>
        <div class="menu">
            <div class="menu_title">Gesion des commandes</div>
            <div class="menu_item"><a href="#">Fournisseurs</a></div>
            <div class="menu_item"><a href="~/Commands/Index">Commandes</a></div>
            <div class="menu_item"><a href="#">Receptions</a></div>
            <div class="menu_item"><a href="#">Statistiques</a></div>
            <div class="menu_item"><a href="#">Administration</a></div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="footer">
            <p>2020 - Outils en cours de développement.</p>
        </div>
    </footer>
</body>
</html>
